auction/AuctionClient/src/webAuction/Auction.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://web.webAuction/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://web.webAuction/" name="AuctionWebServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://web.webAuction/" schemaLocation="http://localhost:5000/WebAuction/Auction?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getItem">
<part name="parameters" element="tns:getItem"></part>
</message>
<message name="getItemResponse">
<part name="parameters" element="tns:getItemResponse"></part>
</message>
<message name="newBid">
<part name="parameters" element="tns:newBid"></part>
</message>
<message name="newBidResponse">
<part name="parameters" element="tns:newBidResponse"></part>
</message>
<message name="revokeItem">
<part name="parameters" element="tns:revokeItem"></part>
</message>
<message name="revokeItemResponse">
<part name="parameters" element="tns:revokeItemResponse"></part>
</message>
<message name="offerItem">
<part name="parameters" element="tns:offerItem"></part>
</message>
<message name="offerItemResponse">
<part name="parameters" element="tns:offerItemResponse"></part>
</message>
<message name="findItemsByDescription">
<part name="parameters" element="tns:findItemsByDescription"></part>
</message>
<message name="findItemsByDescriptionResponse">
<part name="parameters" element="tns:findItemsByDescriptionResponse"></part>
</message>
<portType name="AuctionWebService">
<operation name="getItem">
<input wsam:Action="http://web.webAuction/AuctionWebService/getItemRequest" message="tns:getItem"></input>
<output wsam:Action="http://web.webAuction/AuctionWebService/getItemResponse" message="tns:getItemResponse"></output>
</operation>
<operation name="newBid">
<input wsam:Action="http://web.webAuction/AuctionWebService/newBidRequest" message="tns:newBid"></input>
<output wsam:Action="http://web.webAuction/AuctionWebService/newBidResponse" message="tns:newBidResponse"></output>
</operation>
<operation name="revokeItem">
<input wsam:Action="http://web.webAuction/AuctionWebService/revokeItemRequest" message="tns:revokeItem"></input>
<output wsam:Action="http://web.webAuction/AuctionWebService/revokeItemResponse" message="tns:revokeItemResponse"></output>
</operation>
<operation name="offerItem">
<input wsam:Action="http://web.webAuction/AuctionWebService/offerItemRequest" message="tns:offerItem"></input>
<output wsam:Action="http://web.webAuction/AuctionWebService/offerItemResponse" message="tns:offerItemResponse"></output>
</operation>
<operation name="findItemsByDescription">
<input wsam:Action="http://web.webAuction/AuctionWebService/findItemsByDescriptionRequest" message="tns:findItemsByDescription"></input>
<output wsam:Action="http://web.webAuction/AuctionWebService/findItemsByDescriptionResponse" message="tns:findItemsByDescriptionResponse"></output>
</operation>
</portType>
<binding name="AuctionWebServicePortBinding" type="tns:AuctionWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getItem">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="newBid">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="revokeItem">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="offerItem">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="findItemsByDescription">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="AuctionWebServiceService">
<port name="AuctionWebServicePort" binding="tns:AuctionWebServicePortBinding">
<soap:address location="http://localhost:5000/WebAuction/Auction"></soap:address>
</port>
</service>
</definitions>